# Backend API URL (for general requests)
REACT_APP_API_URL=http://localhost:8080/api

# Base API URL (used for SockJS websocket connection)
REACT_APP_API_BASE_URL=http://localhost:8080/traffic-websocket

# WebSocket Broker URL (ws:// or wss://)
REACT_APP_WS_URL=ws://localhost:8080/traffic-websocket
